* {
  margin: auto;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Figtree', sans-serif;
}

/* Fits images in containers no matter the size */

img {
  max-width: 100%;
  height: auto;
  border-radius: 0.625em;
}

/* Flex containers */

header,
#canvas,
#name
.para {
  display: flex;
}

/* Common backgrounds */

#canvas,
#learning-button {
  background-color: #9044d4;
}

/* Common font sizes */

#learning-button,
.published {
  font-size: 0.75rem;
}

/* Common font weights */

#name,
#learning-button,
.foundations {
  font-weight: 800;
}

/* Common min-widths */

.para, header {
  min-width: 17.438em;
}

header { 
  height: 12.5em;
  background-image: url('images/blogimage.png');
  background-size: cover;
  border-radius: 0.625em;
}

#canvas {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
}

#card-container {
  width: 55%;
  min-width: 20.438em;
  height: 501px;
  border: 1px solid black;
  padding: 1.5em 1.625em 1.5em 1.375em;
  background-color: white;
  border-radius: 1.25em;
  box-shadow: 0.5em 0.5em 0px 0px;
  margin-bottom: -5em;
}

#learning-button {
  padding: 0.25em 0.75em;
  margin: 2em 0 1em 0;
  width: 73px;
  height: 26px;
  color: rgba(255, 255, 255, 0.904);
  letter-spacing: 0.3px;
  border-radius: 4px;
  border: none;
}

.published {
  width: 127px;
  height: 18px;
  margin: 0 0 1em 0;
}

.foundations {
  font-size: 1.25rem;
  margin-bottom: 0.6em;
}

.foundations:hover,
.foundations:active {
  color: #9044d4;
  cursor: pointer;
  transition-duration: 0.2s;
}

.para {
  height: 3.938em;
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 500;
  line-height: 1.313em;
  color: #7f7f7f;
  margin-bottom: 1.714em;
}

#avatar {
  width: 2em;
  height: 2em;
  margin-right: 0.75em;
}

#name {
  width: 6.125em;
  height: 1.313em;
  margin: -1.875em 0px 0 2.75em;
}

#name-container {
  width: 20.438em;
  height: 2em;
  background-color: #7f7f7f;
}

footer span {
  font-size: 1.2rem;
  animation: smoothFill 5s ease-out 0s infinite both;
  width: 80%;
}

.footer-container {
  font-size: 1.2rem;
  text-align: center;
  width: 80%;
}

@keyframes smoothFill {
  00%,0%{
    color: #ff0000;
  }
  8%{
    color: #ff7f00;
  }
  16%{
    color: #ffff00;
  }
  25%{
    color: #7fff00;
  }
  33%{
    color: #00ff00;
  }
  41%{
    color: #00ff7f;
  }
  50%{
    color: #00ffff;
  }
  58%{
    color: #007fff;
  }
  66%{
    color: #0000ff;
  }
  75%{
    color: #7f00ff;
  }
  83%{
    color: #ff00ff;
  }
  91%{
    color: #ff007f;
  }
}

/* Media query */

@media (min-width: 700px) {
  #card-container {
    width: 55%;
    max-width: 24em;
    height: 32.625em;
  }

  header,
  .para {
    width: 21em;
  }

  .para {
    height: 4.5em;
    font-size: 1rem;
  }
}
